nav a {
    text-decoration: none;
    color: #111;
    padding: 10px 20px 10px 20px;
    width: 80px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    font-size: 20px;
}

nav a:hover {
    background-color: #eee;
}

.active-link {
    color: #333;
    border-bottom: 1px solid #f30ba4 ;
}

.setting-item-group {
    width: 100%;
    color: #333;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.setting-item-group .setting-item {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
}
.setting-item-group .setting-item .setting-item-content {
    display: flex;
    align-items: center;
    align-content: center;
}