.kt-better-scroll::-webkit-scrollbar {
    width: 3px;
    background-color: #D8D8C0;
}

.kt-better-scroll::-webkit-scrollbar-thumb {
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    background-color: #4B3434;
}

.kt-better-scroll::-webkit-scrollbar-track {
    background-color: transparent;
}

div.draggable {
    cursor: none;
}
div.-moz-drag-over {
    cursor: pointer;
    border: 1px solid #111
}