.active-app {
    background-color: #ddd;
    padding-left: 10px;
    animation-duration: 0.4s;
}

.launch-app-button {
    background: #fdff94;
}

.stop-app-button {

}

/* 模板列表出现、消失 */
@keyframes templateListShow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes templateListHide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.template-list-show {
    animation: templateListShow 0.3s ease forwards
}

.template-list-hide {
    animation: templateListHide 0.3s ease forwards
}

/* 配置菜单按钮列 */
.configure-menu-item {
    width: 50%;
}